/* ここ共通 */
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800,900");

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: reitam;
    src: url("../webfonts/Reitam Regular.otf") format("opentype")
}

html {
    font-family: "reitam", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


body {
    background-color: #ECECE6;
}

.iphone {
    display: none;
}

.pc {
    display: block;
}

/* ここから色々 */
.header {
    height: 130px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header div {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.header img {
    width: 80px;
    height: 80px;
}

.header ul {
    display: flex;
    padding-top: 20px;
}

.header li {
    padding-left: 30px;
    color: #a28d69;
    letter-spacing: .1em;
    font-size: 1.4vw;
}

.top-wrapper {
    height: 100vh;
    width: 100%;
    margin-bottom: 20px;
}

.top-wrapper h1 {
    text-align: center;
    padding-top: 350px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: reitam;
    font-size: 36px;
}

.top-wrapper p {
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: reitam;
    font-weight: lighter;
}




.project-card {
    width: 45%;
    height: 600px;
}

.project-card img {
    width: 100%;
    height: 100%;
}

.project-list .project-list-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.project-card h5 {
    font-family: 'NotoSans SemiBold', sans-serif;
    font-size: 1.3vw;
    letter-spacing: .05em;
    color: #a28d69;
}

.project-card p {
    color: #000;
    font-size: 1vw;
    padding-top: 1vw;
    letter-spacing: .05em;
}


.footer {
    height: 200px;
    width: 100%;
    background-color: black;
    padding-top: 200px;
}

.footer p {
    color: white;
    text-align: center;
    color: #e5e5de;
    font-size: 1.3vw;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: .5em;
}





/* about */
.about-wrapper {
    width: 80%;
    margin: auto;
}

.about-wrapper p {
    line-height: 2.0rem;
}

.about-wrapper h2 {
    font-size: 40px;
}

.about-wrapper h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-wrapper .about-my-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.about-my-name p {
    border-left: 1.5px solid #9c9c9b;
    align-items: center;
    padding-left: 10px;
    height: 80%;
    color: #9c9c9b;
    font-size: 20px;
}

.about-wrapper h5 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 25px;
}

.about-wrapper .my-efforts h6 {
    font-size: 20px;
    margin-bottom: 8px;
}

.about-wrapper .about-empty {
    height: 30px;
}

.about-wrapper li {
    line-height: 2rem;
}



.contact-container {
    width: 80%;
    margin: auto;
}

.contact-container h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-container h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

.form-group {
    display: block;
    margin-bottom: 40px;
}

.contact-container button {
    width: 300px;
    height: 80px;
    display: block;
    margin: auto;
    border: none;
    color: white;
    background-color: #a28d69;
    margin-top: 40px;
}

.contact-container .contact-empty {
    height: 50px;
}

#message {
    height: 400px;
    width: 100%;
}

#message {
    height: 400px;
    width: 100%;
}

textarea {
    border: none;
}

.contact-form label {
    font-size: 25px;
    margin-bottom: 20px;
    display: block;
}

input {
    border: none;
    width: 100%;
    height: 200px;
}


@media (max-width: 400px) {
    .pc {
        display: none;
    }

    .iphone {
        display: block;
    }

    .top-wrapper {
        margin-bottom: 100px;
    }

    .top-wrapper h1 {
        letter-spacing: 2px;
        font-size: 25px;
    }

    .top-wrapper p {
        letter-spacing: 1.8px;
        padding-top: 40px;
        line-height: 1.5rem;
        font-size: 14px;
    }

    .header {
        height: 100px;
    }

    .header div {
        margin-top: 10px;
    }

    .header img {
        width: 60px;
        height: 60px;
    }

    .header li {
        padding-left: 30px;
        font-size: 2.4vw;
    }

    .project-card {
        width: 80%;
        height: 250px;
        margin: auto;
    }

    .project-list .project-list-wrapper {
        width: 100%;
        display: block;
    }

    .project-card h5 {
        font-size: 2.3vw;
    }

    .project-card p {
        font-size: 2vw;
    }

    .footer {
        height: 100px;
        padding-top: 80px;
    }

    .footer p {
        font-size: 2.3vw;
    }


    .about-wrapper {
        width: 80%;
    }

    .about-wrapper p {
        white-space: normal;
    }

    .about-wrapper h2 {
        font-size: 30px;
    }
    /* ここまでなんとなくやったよ */

    .about-wrapper h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .about-wrapper .about-my-name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .about-my-name p {
        border-left: 1.5px solid #9c9c9b;
        align-items: center;
        padding-left: 10px;
        height: 80%;
        color: #9c9c9b;
        font-size: 20px;
    }

    .about-wrapper h5 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 25px;
    }

    .about-wrapper .my-efforts h6 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .about-wrapper .about-empty {
        height: 30px;
    }

    .about-wrapper li {
        line-height: 2rem;
    }
}