/* ここ共通 */
@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+1p:400,500,700,800,900");
* {
    margin: 0;
    padding: 0;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
@font-face {
    font-family: reitam;
    src: url("../webfonts/Reitam Regular.otf") format("opentype")
}
html{
    font-family: "reitam", 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}


body{
    background-color: #ECECE6;
}

/* ここから色々 */
.header {
    height: 130px;
    width: 100%;
    position: fixed; /* 画面上に固定 */
    top: 0;           /* 上端に配置 */
    left: 0;
    z-index: 1000;    /* 他の要素よりも前面に表示 */
}

.header div {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
}

.header img {
    width: 80px;
    height: 80px;
}

.header ul {
    display: flex;
    padding-top: 20px;
}

.header li {
    padding-left: 30px;
    color: #a28d69;
    letter-spacing: .1em;
    font-size: 1.4vw;
}

.top-wrapper {
    height: 100vh;
    background-image: url("../src/top.png");
    background-size: cover;
}

.top-wrapper h1 {
    text-align: center;
    padding-top: 350px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: reitam;
    font-size: 36px;
}

.top-wrapper p {
    text-align: center;
    padding-top: 20px;
    letter-spacing: 2px;
    font-family: reitam;
    font-weight: lighter;
}




.project-card {
    width: 45%;
    height: 600px;
}

.project-card img {
    width: 100%;
    height: 100%;
}
.project-list .project-list-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.project-card h5{
    font-family: 'NotoSans SemiBold', sans-serif;
    font-size: 1.3vw;
    letter-spacing: .05em;
    color: #a28d69;
}
.project-card p{
    color: #000;
    font-size: 1vw;
    padding-top: 1vw;
    letter-spacing: .05em;
}


.footer {
    height: 200px;
    width: 100%;
    background-color: black;
    padding-top: 200px;
}

.footer p {
    color: white;
    text-align: center;
    color: #e5e5de;
    font-size: 1.3vw;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    letter-spacing: .5em;
}